.rcfContainer {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: auto;
  height: auto;
  transition: transform 500ms cubic-bezier(0.18, 0.45, 0.11, 0.91);
}

.rcfFront {
  width: auto;
  height: auto;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.rcfBack {
  width: auto;
  height: auto;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.rcfFlipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.rcfActive .rcfFlipper {
  transform: rotateY(180deg);
}

.rcfLevitate {
  transform: translateY(-15px);
  transition: transform 500ms cubic-bezier(0.18, 0.45, 0.11, 0.91);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .rcfActive .rcfBack {
    transform: rotateY(0deg);
  }
  .rcfActive > div {
    transform: rotateY(0deg);
  }
  .rcfActive .rcfFront {
    transform: rotateY(180deg);
  }

  .rcfFront {
    transform: rotateY(0deg);
  }

  .rcfBack {
    transform: rotateY(-180deg);
  }
}
